<app-navbargeneral></app-navbargeneral>
<button (click)="obtenerRol()">rol</button>
<div class="container">
  <h1 class="text-center">Formulario de Alumnos</h1>
  <button class="btn btn-success" (click)="guardarAlumno()">Agregar Alumno</button>
      <div class="container" style="color: rgb(253, 253, 253); background: #000; width: 700px;">
          <form #formAlumno="ngForm">
              <!-- <fieldset > -->
              <legend class="text-center">Registrar Alumno</legend>
              <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">Ingresar nombre</label>
                  <input [(ngModel)]="alumnoacrear.nombre" name="nombre" type="text" class="form-control" placeholder=" Ejemplo: juan, marcos, julieta, etc..." required minlength="3" #nombre="ngModel" caracter-especial>
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                          <div *ngIf="nombre.errors?.['required']">
                              Nombre es requerido.
                          </div>
                          <div *ngIf="nombre.errors?.['minlength']">
                              Nombre debe tener al menos 3 caracteres.
                          </div>
                          <!-- <div *ngIf="nombre.errors.caracterEspecial">
                              No se permiten caracteres especiales.
                          </div> -->

                  </div>
              </div>
              <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">Ingresar apellido</label>
                  <input [(ngModel)]="alumnoacrear.apellido" name="apellido" type="text" class="form-control" placeholder=" Ejemplo: Sanchez, Messi, Fernandez, etc.." required minlength="3" #apellido="ngModel">
                  <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                      <div *ngIf="apellido.errors?.['required']">
                          Apellido es requerido.
                      </div>
                      <div *ngIf="apellido.errors?.['minlength']">
                          Apellido debe tener al menos 3 caracteres.
                      </div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="" class="form-label">Ingresar DNI</label>
                  <input [(ngModel)]="alumnoacrear.dni" name="dni" type="number" class="form-control" placeholder="Ejemplo: 42682738" required minlength="7" required maxlength="8" #dni="ngModel">
                  <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">
                      <div *ngIf="dni.errors?.['required']">
                          DNI es requerido.
                      </div>
                      <div *ngIf="dni.errors?.['minlength']">
                          DNI debe tener al menos 7 caracteres.
                      </div>
                      <div *ngIf="dni.errors?.['maxlength']">
                        DNI debe tener como máximo 8 caracteres.
                    </div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="" class="form-label">Fecha de Nacimiento</label>
                  <input [(ngModel)]="alumnoacrear.fechaNacimiento" name="fechaNacimiento" type="date" class="form-control">
              </div>
              <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">Ingresar numero de celular</label>
                  <input [(ngModel)]="alumnoacrear.nroCelular" name="nroCelular" type="text" class="form-control" placeholder=" Ejemplo: 3881273823 " required minlength="9" #nroCelular="ngModel">
                  <div *ngIf="nroCelular.invalid && (nroCelular.dirty || nroCelular.touched)" class="alert alert-danger">
                      <div *ngIf="nroCelular.errors?.['required']">
                          NÚmero de celular es requerido.
                      </div>
                      <div *ngIf="nroCelular.errors?.['minlength']">
                          Número de celular debe tener al menos 7 caracteres.
                      </div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">Ingresar domicilio</label>
                  <input [(ngModel)]="alumnoacrear.domicilio" name="domicilio" type="text" class="form-control" placeholder="Ejemplo: Barrio ... , Calle ... , num ..." required minlength="24" #domicilio="ngModel">
                  <div *ngIf="domicilio.invalid && (domicilio.dirty || domicilio.touched)" class="alert alert-danger">
                      <div *ngIf="domicilio.errors?.['required']">
                          Domicilio es requerido.
                      </div>
                      <div *ngIf="domicilio.errors?.['minlength']">
                          Domicilio debe tener al menos 24 caracteres.
                      </div>
                  </div>
              </div>
              <div class="mb-3">
                  <label for="disabledTextInput" class="form-label">ELija un Plan</label>
                  <select name="plan" [(ngModel)]="alumnoacrear.plan" class="form-control" >
                    <option *ngFor="let plan of planes" [ngValue]="plan">{{plan.nombrePlan}}</option>
                  </select>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email address</label>
                  <input [(ngModel)]="alumnoacrear.email" name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com"required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #email="ngModel" />
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                  <div *ngIf="!email.valid && email.touched">
                    El email no es válido.
                  </div>
                  <div *ngIf="email.errors?.['required']">
                      Email es requerido.
                  </div>
                </div>
              </div>
              <div class="form" style="background-color: rgb(219, 105, 38);">
                  <div class="" >
                      <label for="exampleFormControlTextarea1" class="form-label">Usuario</label>
                      <input [(ngModel)]="usuario.nombreUsuario" name="nombreUsuario" type="text" class="form-control" id="exampleFormControlTextarea1" >
                  </div>
                  <div class="">
                      <label for="exampleFormControlTextarea2" class="form-label">Contraseña</label>
                      <input [(ngModel)]="usuario.password" name="password" type="password" class="form-control" id="exampleFormControlTextarea2" >
                  </div>

              </div>

              <button [disabled]="!formAlumno.form.valid" *ngIf="accion === 'new'" type="submit" class="btn btn-success " style="background-color: chocolate;" (click)="confirmarAlta()">Guardar Alumno</button>
              <button [disabled]="!formAlumno.form.valid" *ngIf="accion === 'update'" type="submit" class="btn btn-success " style="background-color: chocolate;" (click)="confirmarModificacion()">Modificar Alumno</button>

              <!-- </fieldset> -->
          </form>
      </div>

      <!-- <form>
          <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" id="titulo"[(ngModel)]="pelicula.titulo" name="titulo">
          </div>
          <div class="form-group">
              <label for="categoria">Categoría</label>
              <select class="form-control" id="categoria"[(ngModel)]="pelicula.categoria" name="categoria">
                  <option *ngFor="let cat of categorias" [value]="cat">{{cat}}</option>
              </select>
          </div>
          <button type="submit" class="btn btnprimary" (click)="procesarForm()">Enviar</button>
          <button type="button" class="btn btn-primary">Limpiar</button>
      </form> -->
</div>

   <br />

   <!--<div [hidden]="!submitted">
        <h2>Datos enviados:</h2>
            <div class="row">
                <div>Titulo: {{ pelicula.titulo }}</div>
            </div>
            <div class="row">
                <div>Categoria: {{ pelicula.categoria }}</div>
            </div>
        <br>
        <button class="btn btnprimary" (click)="submitted=false">Continuar</button>
   </div> -->

