<app-navbargeneral></app-navbargeneral>

<section *ngIf="alumno != null">
  <div *ngIf="editar == false" style="background-color: #eee">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3">{{alumno.nombre}}</h5>
              <p class="text-muted mb-1">{{alumno.email}}</p>
              <p class="text-muted mb-4">{{alumno.domicilio}}</p>
              <button (click)="handleEdit('editar')" class="btn btn-primary">
                Editar Datos
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ alumno.nombre }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Apellido</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ alumno.apellido }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ alumno.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Celular</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ alumno.nroCelular }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">DNI</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ alumno.dni }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Domicilio</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ alumno.domicilio }}
                  </p>
                </div>
              </div>
            </div>
          </div>
       
        </div>

        <h1>Tus asistencia en esta semana</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" *ngFor="let dia of diasSemana">{{ dia }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let dia of calendario">
                {{ dia.asistencia ? 'Asistido' : 'No asistido' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="editar == true" style="background-color: #eee">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                alt="avatar"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-3">{{alumno.nombre}}</h5>
              <p class="text-muted mb-1">{{alumno.email}}</p>
              <p class="text-muted mb-4"> {{alumno.domicilio}}</p>

              <button (click)="handleEdit('editado')" class="btn btn-primary">
                {{editar === true ? 'Guardar Edicion' : 'Guardar'}}
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="text"
                    [(ngModel)]="alumno.nombre"
                    [value]="alumno.nombre"
                    class="form-control"
                    placeholder="Nombre"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Apellido</p>
                </div>
                <div class="col-sm-9">
                  <input
                  [value]="alumno.apellido"
                    type="text"
                    [(ngModel)]="alumno.apellido"
                    class="form-control"
                    placeholder="Apellido"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <input
                  [(ngModel)]="alumno.email"
                  [value]="alumno.email"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Celular</p>
                </div>
                <div class="col-sm-9">
                  <input
                  [value]="alumno.nroCelular"
                    type="text"
                    [(ngModel)]="alumno.nroCelular"
                    class="form-control"
                    placeholder="Numero de Celular"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Dni</p>
                </div>
                <div class="col-sm-9">
                  <input
                  [value]="alumno.dni"
                  [(ngModel)]="alumno.dni"
                    type="text"
                    class="form-control"
                    placeholder="Dni"
                    aria-label="Username"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Domicilio</p>
                </div>
                <div class="col-sm-9">
                  <input
                  [value]="alumno.domicilio"
                    type="text"
                    [(ngModel)]="alumno.domicilio"
                    class="form-control"
                    placeholder="Dni"
                    aria-label="Domicilio"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="alumno == null">
  cargando
</section>