.container {
    margin-top: 50px;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    text-align: center;
  }
  
  th {
    background-color: #f8f9fa;
  }
  
  tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  tr:hover {
    background-color: #e9ecef;
  }
  