<app-navbargeneral></app-navbargeneral>
<div *ngIf="ejercicios != null" class="container">
  <div class="row">
    <div class="col">
      <h2>Calendario Semanal De ejercicios</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let dia of diasSemana">{{ dia }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let dia of diasSemana">
              <div *ngFor="let ejercicio of ejercicios[dia]">
                <ng-container *ngIf="ejercicio.nombreEjercicio !== ''">
                  <div class="d-flex">
                    <h1 class="text-primary h6">Ejercicio:</h1>
                    <h1 class="mx-2 h6">
                      {{ ejercicio.nombreEjercicio }}
                    </h1 >
                  </div>
                  <div class="d-flex">
                    <h1 class="text-primary h6">Repeticiones:</h1>
                    <h1 class="mx-2 h6">
                      {{ ejercicio.repeticiones }}
                    </h1 >
                  </div>
                  <div class="d-flex">
                    <h1 class="text-primary h6">varacion:</h1>
                    <h1 class="mx-2 h6">
                      {{ ejercicio.variacion }}
                    </h1 >
                  </div>
                  <iframe
                    [src]="getYouTubeEmbedUrl(ejercicio.demostracion)"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </ng-container>
                <hr>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
