<app-navbargeneral></app-navbargeneral>

<div class="container">
    <h1>LISTADO DE ALUMNOS</h1>

    <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger" class="table table-dark">
        <thead>
          <tr>
            <th scope="col">nombre y apellido</th>
            <th scope="col">email </th>
            <th scope="col">domicilio</th>
            <th scope="col">celular</th>
            <th scope="col">DNI</th>
            <th scope="col">...</th>
          </tr>
        <tbody>
          <tr *ngFor="let a of alumnos">
            <!-- <th scope="row">1</th> -->
            <td>{{a.nombre}} {{a.apellido}}</td>
            <td>{{a.email}}</td>
            <td>{{a.domicilio}}</td>
            <td>{{a.nroCelular}}</td>
            <td>{{a.dni}}</td>
            <td>
              <button  data-bs-toggle="modal"
              data-bs-target="#exampleModal" (click)="setearModificar(a)" class="btn btn-warning mx-1 my-1"><i class="fa-solid fa-pencil"></i></button>
              <button (click)="eliminarAlumno(a)" class="btn btn-danger mx-1 my-1"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Modal -->
<div
*ngIf="alumnoa != null"
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">edicion de Insumo!</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label"
          >Ingresar nombre</label
        >
        <input
          [(ngModel)]="alumnoa.nombre"
          name="nombre"
          type="text"
          id=""
          class="form-control"
          placeholder=" Ejemplo: agua, proteina"
        />
      </div>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label"
          >Ingresar apellido</label
        >
        <input
          [(ngModel)]="alumnoa.apellido"
          name="descripcion"
          type="text"
          id=""
          class="form-control"
          placeholder=" Ejemplo: botellas de agua de 2 litros..."
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Ingresar Domicilio</label>
        <input
          [(ngModel)]="alumnoa.domicilio"
          name="precio"
          type="text"
          id=""
          class="form-control"
          placeholder="Ejemplo: 100000"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Ingresar Celular</label>
        <input
          [(ngModel)]="alumnoa.nroCelular"
          name="precio"
          type="text"
          id=""
          class="form-control"
          placeholder="Ejemplo: 100000"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Ingresar DNI</label>
        <input
          [(ngModel)]="alumnoa.dni"
          name="precio"
          type="text"
          id=""
          class="form-control"
          placeholder="Ejemplo: 100000"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="modificarAlumno()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
