<app-navbargeneral></app-navbargeneral>
<section *ngIf="alumno != null" style="background-color: #eee; height: 100%">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">{{ alumno.nombre }}</h5>
            <p class="text-muted mb-1">{{ alumno.email }}</p>
            <p class="text-muted mb-4">{{ alumno.domicilio }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gimnasio:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">FITENEXX</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Estado de Cuota:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Pagado</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">GYM CUOTA:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ alumno.plan.nombrePlan }}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Cantidad de dias ala semana:</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ alumno.plan.cantDias }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4" *ngIf="ejercicios != []">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Rutina de hoy:</p>
              </div>
              <div class="col-sm-9">
                <div *ngFor="let ejercic of ejercicios">
                  <ng-container
                    *ngIf="ejercic.nombreEjercicio !== '' && ejercic.varacion !== ''; else noEjercicios"
                  >
                    <span class="text-primary mb-0"
                      >Ejercicio: {{ ejercic.nombreEjercicio }}</span
                    >
                    <p>{{ ejercic.demostracion }}</p>
                  </ng-container>

                  <ng-template #noEjercicios>
                    <h1 class="h6">No hay ejercicios hoy</h1>
                  </ng-template>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Rutas de la semana:</p>
              </div>
              <div class="col-sm-9">
                <a routerLink="/alumno/calendario" class="btn btn-success"
                  >ver</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
