.chartContainer {
    width: 500px;
    height: 500px;
}
.bar-chart {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .chartContainer {
    margin-top: 20px;
  }
  